.Trigger > span {
  transform: rotateY(180deg);
  margin-right: 0px;
}
.Trigger {
  padding-right: 2px;
}
.Sider2 {
  position: absolute;
  height: 100vh;
  z-index: 999;
}
.Sider2 > div {
  z-index: 10;
  position: relative;
  background-color: white;
}
.Sider2 > div + span {
  z-index: 1;

  transition: transform 0.35s;
}

.Sider > div + span {
  transform: translateX(-37px);
}
.X {
  width: 0;
}
